<div class="action-bar">
  <app-action-bar
    [step]="1"
    [min]="0"
    [max]="100"
    [(number)]="actionBarNumber1"
    (numberChange)="sumResult()"
  ></app-action-bar>

  <app-action-bar
    [step]="10"
    [min]="-150"
    [max]="120"
    [(number)]="actionBarNumber2"
    (numberChange)="sumResult()"
  ></app-action-bar>

  <app-action-bar
    [step]="100"
    [min]="-300"
    [max]="300"
    [(number)]="actionBarNumber3"
    (numberChange)="sumResult()"
  ></app-action-bar>

  <div class="sum-result">
    รวมแล้วได้ {{ result }}
  </div>
  <div class="btn-action-group">
    <button (click)="actionBarNumber1 = 100;sumResult();">Chang number 1 to 100</button>
    <button (click)="actionBarNumber2 = 300;sumResult();">Chang number 2 to 300</button>
    <button (click)="actionBarNumber3 = 500;sumResult();">Chang number 3 to 500</button>
  </div>
</div>
